<% provide(:title, 'Home') %>
<h1>Help | <%= yield(:title) %></h1>
<p> El código de esta aplicación se encuentra en: <a href="www.github.com/okgarces/SVConverter_app">GitHub.com</a>

<p>Dejar comentarios en GitHub</p>

<center><image src="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png" width=300></center> </p>
