<footer class="footer">
	<small>
		Oscar Kiyoshige Garces - Santiago Villaveces
	</small>

	<nav>
		<ul class = "nav pull-right">
			<li> <%= link_to "Home", root_path %> </li>
				<li> <%= link_to "Help", help_path %> </li>
		</ul>
	</nav>
</footer>