<!DOCTYPE html>
<html>
<head>
  <title>SVConverterApp</title>
  <%= stylesheet_link_tag    "style.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "style.css", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
